.CategoryBar {
  width: 80%;
  /* aspect-ratio: 2/1; */
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  border-radius: 5px;
  gap: 20px;
}

.CategoryImageBox {
  position: relative;
  width: 33.33%;
  height: 100%;
}

.categoryPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  /* position: relative; */
}

.categoryName {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
}

.categoryNameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s;
}

.categoryNameOverlay > * {
  transform: translateY(30px);
  transition: transform 0.4s;
}

.categoryNameOverlay:hover {
  opacity: 1;
}

.categoryNameOverlay:hover > * {
  transform: translateY(0);
}

@media (max-width: 950px) {
  .CategoryBar {
    height: auto;
    flex-direction: column;
  }

  .CategoryImageBox {
    width: 80%;
    height: auto;
  }
}
