.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  /* background-color: rgba(239, 235, 226, 255); */
  background-color: rgb(149, 193, 246);
  /* background-image: linear-gradient(#95c1f6 50%, white); */
  gap: 20px;
}

@media (max-width: 950px) {
  .Info {
    flex-direction: column;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
