.NavBar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002e72;
  width: 100%;
}

.brandName,
.brandName:hover {
  padding-left: 50px;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial;
  color: white;
  background-color: transparent;
}

.ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-right: 1px solid grey;
}

.profileButton {
  display: flex;
  justify-content: right;
  padding-right: 100px;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: bold;
}

.smallProfileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 4px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.LoginDivForTriangle2 {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxForTriangle2 {
  height: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.loginPageBigTriangle2 {
  width: 100%;
  aspect-ratio: 1;
  border: 10px solid white;
  transform: translateY(-50%) rotate(135deg);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageSmallTriangle2 {
  width: 50%;
  aspect-ratio: 1;
  border: 8px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideDesktop {
  display: none;
}

.displayNone {
  display: none;
}
@media (max-width: 950px) {
  .NavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .profileButton {
    width: auto;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .brandName,
  .brandName:hover {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
  }

  .hideMobile {
    display: none;
  }

  .hideDesktop {
    display: flex;
    z-index: 10;
  }

  .hamburger,
  .hamHide {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start; */
    position: absolute;
    top: 100%;
    right: 0%;
    height: calc(100vh - 122px);
    width: 80vw;
    max-width: 350px;
    background-color: #002e72;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
  }
  .hamburger {
    animation: hamburgerShow 0.2s linear 1 alternate;
  }

  @keyframes hamburgerShow {
    0% {
      width: 0;
    }
    100% {
      width: 80vw;
      max-width: 350px;
    }
  }
  .hamHide {
    width: 0px;
    animation: hamburgerHIDE 0.2s linear 1 alternate;
  }

  @keyframes hamburgerHIDE {
    0% {
      max-width: 350px;
      width: 80vw;
    }
    100% {
      width: 0px;
    }
  }

  .hamItem {
    font-weight: bold;
    width: 70%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .hamUser {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
  }

  .logOut {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: red;
  }

  .hamburgerContent {
    width: 100%;
    display: flex;
    justify-content: top;
    /* margin-top: 20px; */
    align-items: center;
    flex-direction: column;
    height: 80%;
    /* background-color: red; */
    gap: 7%;
  }

  .green {
    color: #25d431;
  }
}
