.NavBar {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002e72;
  width: 100%;
}

.brandName,
.brandName:hover {
  padding-left: 50px;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial;
  color: white;
  background-color: transparent;
}

.ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-right: 1px solid grey;
}

.profileButton {
  display: flex;
  justify-content: right;
  padding-right: 100px;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: bold;
}

.smallProfileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 4px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.LoginDivForTriangle2 {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxForTriangle2 {
  height: 100px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.loginPageBigTriangle2 {
  width: 100%;
  aspect-ratio: 1;
  border: 10px solid white;
  transform: translateY(-50%) rotate(135deg);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageSmallTriangle2 {
  width: 50%;
  aspect-ratio: 1;
  border: 8px solid white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .NavBar {
    flex-direction: column;
    height: auto;
    padding-top: 10px;
  }

  .profileButton {
    /* width: 100%; */
    width: auto;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  /* .smallProfileButton {
    background-color: pink;
  } */
  .brandName,
  .brandName:hover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
