.NavBar {
  width: 100%;
  height: 120px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
  box-shadow: 0 0 3px grey;
}

.brandName {
  width: 25%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: Arial;
}

.searchingBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  /* background-color: pink; */
}

.wholeSearchingBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50%;
  border: 1px solid grey;
  border-radius: 30px;
}

.ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  border-right: 1px solid grey;
}

.shoppingInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 80%;
  border-radius: 0 30px 30px 0;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 18px;
}

.profileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial;
}

.smallProfileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 1px solid grey; */
  border-radius: 20px;
  padding: 4px;
}

@media (max-width: 950px) {
  .NavBar {
    flex-direction: column;
    height: 40vh;
    padding-top: 10px;
  }

  .wholeSearchingBar {
    height: 55%;
    width: 80%;
  }
  .searchingBar {
    width: 80%;
  }

  .ShoppingCart {
    width: 15%;
    height: 60%;
  }

  .profileButton {
    width: 40%;
  }
}
