body {
  background-image: url("./assets/BG13.svg");
  /* min-height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: self-end;
}

.landingPage {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  padding-bottom: 150px;
}

.columnLandingPageItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.numItems {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  flex-wrap: nowrap;
  font-family: Arial;
  font-size: 20px;
}
.filterAndCount {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
.filteringOptions {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 50%;
  font-family: Arial;
  font-size: 20px;
}

.filterOption {
  border-bottom: 2px solid transparent;
}

.filterOptionChosen {
  border-bottom: 2px solid white;
}
.productLayout {
  width: 100%;
  display: grid;
  grid-row: 4;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  row-gap: 30px;
  justify-items: center;
}

.reklama {
  display: block;
  height: 60dvh;
  background-color: green;
}

@media (max-width: 950px) {
  .productLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .filterAndCount {
    flex-direction: column;
    gap: 20px;
  }

  .numItems {
    width: 100%;
    justify-content: left;
  }

  .filteringOptions {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .reklama {
    display: block;
    background-color: green;
  }
}
